body {
    font-family: roboto;
}

.top {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #1f2937;
}

.top-left, .top-right {
    display: flex;
    width: 450px;
    border: 1px dashed salmon;

}

.top-left {
    flex-direction: column;
    color: #f9faf8;

}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 64px;
}

.subheader {
    font-size: 48px;
    font-weight: bold;
}

.top-left p {
    font-size: 18px;
}

.top-right {
    display: flex;
    flex-direction: column;
}

.sign {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    border-style: none;
    font-size: 18px;
    height: 30px;
    width: 150px;
}
 /* Top-Right declarations */

 .right-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    border: 1px dashed darkkhaki;
    margin-bottom: 64px;
}

a {
    text-decoration: none;
    color: #f9faf8;
    border: 1px solid green;
}

.image {
    background-color: grey;
    border: 1px dashed sandybrown;
    height: 100%;
    width: 100%;
    text-align: center;
}